body {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Tourney', cursive;
}

button, input {
  font-family: 'Chakra Petch', sans-serif;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameboard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}