body {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Tourney', cursive;
}

button, input {
  font-family: 'Chakra Petch', sans-serif;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameboard {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
}

.category {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.clueCard {
  border: 1px solid black;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}